/*General*/
*{
    box-sizing: border-box;
}

body{
    margin: 0 ;
    line-height: 1.5 ;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;

}

ul{
    list-style: none;
}

/*Menú*/

.menu{
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed ;
    left:0;
    top:0;
    right:0;
    z-index: 1000; 
}

.menu_ul{
    display: flex;
    padding: 0 ;
    margin: 0 ;
}

.menu_ul a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 17px;
}

.menu_ul a:hover{
color: #FFD700;
}

.menu_ul a:visited{
    color: goldenrod;
}
    

/*Portada*/

h1, h2{
    color: #FFD700;
    text-transform: uppercase;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

h2 {
    font-family: 'Impact', sans-serif;        
    font-size: 2.5rem;        
    letter-spacing: 1px;       
    text-transform: uppercase; 
    margin-bottom: 20px;
    text-align: center;       
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.portada{
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.096)), url(../img/r1.jpg);
    background-repeat: no-repeat ;
    background-size: cover ;
    background-attachment: scroll,fixed ;
    color: white;
    padding: 30px;
    height: 100vh;
    position: relative;
}

.portada > .info_home{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%); 
    margin-right: auto;
}

.scroll-down {
    position: absolute;
    bottom: 50px;  
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    animation: bounce 1s infinite;
}

.arrow {
    font-size: 3rem; 
}

@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

section{
    margin: 250px 0;
}

/*Biografía*/

#bio {
    color: #fff;            
    border-radius: 10px;    
    padding: 30px 20px;    
    margin: 40px auto;       
    max-width: 900px;      
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif; 
}

#bio p {
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;          
    margin-bottom: 20px;       
    color: #ddd;              
}

#bio em {
    font-style: italic;
    color: #FFD700;           
}

#bio strong {
    font-weight: bold;
    color: #FFF;              
}


/*Discografía*/

.music{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 100px;
}

.music a{
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.music figure {
    transition: transform 0.3s ease-in-out; 
}

.music figure:hover {
    transform: scale(1.1); 
}

/*Filmografía*/

.fila{
    display: flex;
    justify-content: center;
}

.columna{
    padding: 0 10px;
    margin: 25px;
}

.columna ul{
    padding-left: 0;
}

/* Galería de fotos */
#galeria div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#galeria a {
    text-decoration: none;
    margin: 5px;
    position: relative;
}

#galeria img {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Estilos para la imagen expandida */
.open-img {
    display: inline-block;
    position: relative;
}

.open-img img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}

.open-img img.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: 1000;
    transform: none;
}

/* Estilo para el fondo negro y la imagen ampliada */
.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.884);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; 
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

/* Flechas de navegación */
.arrow {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 2000;
    transform: translateY(-50%);
}

.arrow.left {
    left: 100px;
}

.arrow.right {
    right: 100px;
}

/* Estilo para la X de cerrar */
.close-btn {
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.open-img.expanded {
    background-color: black; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.open-img img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    max-width: 100%;
}

/*Reconocimientos*/

#reconocimientos{
    margin: 40px;
}

#reconocimientos em{
    color: rgb(238, 219, 110);
}

.text_rec p{
    text-align: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

hr{
    height: 3px;
    background-color: #FFD700;
    border-color: #FFD700;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/

.pie_pag{
    display: flex;
    justify-content:space-around;
}

.fila_redes{
    display: flex;
}

.fila_redes a{
    margin: 10px;
    text-decoration: none;
    color: white;
}

.fila_redes a:hover{
    color: #FFD700;
}

.fila_redes a:visited{
    color: goldenrod;
}

.text_center{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
